/* Special selectors */
:root{
    --fuchsia: #e53170;
    --light-blue: #65c7f1;
}

/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    background-color: white;
    font-family: 'Fredoka', sans-serif;
}

h1{
    font-weight: 900;
    color: var(--fuchsia);
}

/* Utils */
.container{
    max-width: 1080px;
    margin: 0 auto;
}

/* Header */
h1, p{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

/* Main */
.row{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 0 -10px;
}

.column{
    background-color: black;
    height: 80px;
    flex-basis: 30%;
}

.card{
    display: flex;
    align-items: center;
}

.img-card{
    height: 80px;
    margin-right: 10px;
}

.img-description{
    color: white;
}

.img-description a{
    text-decoration: none;
    color: var(--light-blue);
}